---
import { Icon } from 'astro-icon'
import { getCollection } from 'astro:content'
import Layout from '@/layouts/Layout.astro'
import EmptyPosts from '@/components/EmptyPosts.astro'
import Project from '@/components/Project.astro'
import ContactForm from '@/components/ContactForm.astro'
import PostsList from '@/components/PostsList.astro'

const allProjects = await getCollection('projects')
const allBlogPosts = await getCollection('blog')

const featuredProjects = allProjects.filter((project) => project.data.featured)
const latestPublishedPosts = allBlogPosts
  .filter((post) => post.data.published)
  .sort((a, b) => b.data.puplishedAt.valueOf() - a.data.puplishedAt.valueOf())
  .slice(0, 3)
---

<Layout title="Home">
  <div class="flex flex-col gap-14 px-8 mx-auto max-w-[85ch]">
    <div class="flex flex-col gap-4 tracking-wide">
      <p class="text-4xl font-bold">
        Hello there! <span class="gradient-name">I'm Abdelwahab</span>
      </p>
      <p>A Software enginner with a degree in Mathematics and Computer Science.</p>
      <p>I aim to share my journey of exploration. I write about various aspects of computer science, ranging from Programming Languages, Web Development, to Theoretical CS.</p>
      <div class="flex flex-row flex-wrap gap-2 dark:text-slate-400 text-slate-600">
        <a
          href="https://twitter.com/Abd3lwahab"
          class="flex gap-2 justify-center border border-slate-300 dark:border-slate-800 rounded-lg px-4 py-2 hover:shadow-dark dark:hover:shadow-light transition-all duration-300 hover:border-slate-400 dark:hover:border-slate-600 focus:ring-2 focus-visible:ring-2 outline-none"
        >
          <Icon name="ph:twitter-logo" width="24" height="24" />
          <span>Twitter</span>
        </a>
        <a
          href="https://github.com/abd3lwahab"
          class="flex gap-2 justify-center border border-slate-300 dark:border-slate-800 rounded-lg px-4 py-2 hover:shadow-dark dark:hover:shadow-light transition-all duration-300 hover:border-slate-400 dark:hover:border-slate-600 focus:ring-2 focus-visible:ring-2 outline-none"
        >
          <Icon name="ph:github-logo" width="24" height="24" />
          <span>Github</span>
        </a>
        <a
          href="https://www.linkedin.com/in/abdelwahab-hussein"
          class="flex gap-2 justify-center border border-slate-300 dark:border-slate-800 rounded-lg px-4 py-2 hover:shadow-dark dark:hover:shadow-light transition-all duration-300 hover:border-slate-400 dark:hover:border-slate-600 focus:ring-2 focus-visible:ring-2 outline-none"
        >
          <Icon name="ph:linkedin-logo" width="24" height="24" />
          <span>Linkedin</span>
        </a>
        <!-- <a
          href="/files/abdelwahab_resume.pdf"
          class="flex gap-2 justify-center border border-slate-300 dark:border-slate-800 rounded-lg px-4 py-2 hover:shadow-dark dark:hover:shadow-light transition-all duration-300 hover:border-slate-400 dark:hover:border-slate-600 focus:ring-2 focus-visible:ring-2 outline-none"
        >
          <Icon name="ph:download-simple" width="24" height="24" />
          <span>Resume</span>
        </a> -->
      </div>
    </div>
    <div class="flex flex-col gap-4">
      <div class="flex justify-between">
        <h2 class="text-2xl font-bold tracking-wide">Latest blog posts</h2>
        <a href="/blog" class="border-slate-800 border-b py-0 transition-all duration-300 hover:border-slate-600 text-slate-400 h-fit"> View all</a>
      </div>
      {latestPublishedPosts.length ? <PostsList blogPosts={latestPublishedPosts} /> : <EmptyPosts />}
    </div>
    <div class="flex flex-col gap-4">
      <div class="flex justify-between">
        <h2 class="text-2xl font-bold tracking-wide">Featured projects</h2>
        <a href="/projects" class="border-slate-800 border-b py-0 transition-all duration-300 hover:border-slate-600 text-slate-400 h-fit"> View all</a>
      </div>
      <div class="grid md:grid-cols-2 grid-cols-1 gap-4">
        {featuredProjects.map((project) => <Project project={project} />)}
      </div>
    </div>
    <ContactForm />
  </div>
</Layout>

<style>
  :global(.dark) .gradient-name {
    background: #bfdbfe;
    background: linear-gradient(to right, #bfdbfe 25%, #f8fec1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
  }

  .gradient-name {
    background: #bfdbfe;
    background: linear-gradient(to right, #603c0c 25%, #0b0074 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
  }
</style>
