---
import { Icon } from 'astro-icon'
import Layout from '@/layouts/Layout.astro'
import EmptyPosts from '@/components/EmptyPosts.astro'
import Project from '@/components/Project.astro'
import type { Project as ProjectType } from '@/types'
import ContactForm from '@/components/ContactForm.astro'
import { getCollection } from 'astro:content'

const allProjects = await getCollection('projects')

const latestProjects = allProjects
  .sort((a, b) => b.data.puplishedAt.valueOf() - a.data.puplishedAt.valueOf())
  .slice(0, 2)
---

<Layout title="Home">
  <main class="flex flex-col gap-10 px-8 mx-auto max-w-[85ch]">
    <div class="flex flex-col gap-4 tracking-wide">
      <p class="text-4xl font-bold">
        Hello there! <span class="gradient-name">I'm Abdelwahab</span>
      </p>
      <p>
        A Software developer with a degree in Mathematics and Computer Science, I'm passionate about
        Javascript stack including React.js, Next.js, and Node.js. I also enjoy working with
        Typescript and crafting user interfaces using Tailwind CSS.
      </p>
      <p>
        I aim to share my journey of exploration. I write about various aspects of computer science,
        ranging from Programming Languages, Web Development, to Theoretical CS.
      </p>
      <div class="flex flex-row flex-wrap gap-2 text-slate-400">
        <a href="https://twitter.com/Abd3lwahab">
          <button
            class="flex gap-2 justify-center border border-slate-800 rounded-lg px-4 py-2 hover:shadow-light transition-all duration-300 hover:border-slate-600"
          >
            <Icon name="ph:twitter-logo" width="24" height="24" />
            <span>Twitter</span>
          </button>
        </a>
        <a href="https://github.com/abd3lwahab">
          <button
            class="flex gap-2 justify-center border border-slate-800 rounded-lg px-4 py-2 hover:shadow-light transition-all duration-300 hover:border-slate-600"
          >
            <Icon name="ph:github-logo" width="24" height="24" />
            <span>Github</span>
          </button>
        </a>
        <a href="https://www.linkedin.com/in/abdelwahab-hussein">
          <button
            class="flex gap-2 justify-center border border-slate-800 rounded-lg px-4 py-2 hover:shadow-light transition-all duration-300 hover:border-slate-600"
          >
            <Icon name="ph:linkedin-logo" width="24" height="24" />
            <span>Linkedin</span>
          </button>
        </a>
        <a href="https://www.linkedin.com/in/abdelwahab-hussein">
          <button
            class="flex gap-2 justify-center border border-slate-800 rounded-lg px-4 py-2 hover:shadow-light transition-all duration-300 hover:border-slate-600"
          >
            <Icon name="ph:download-simple" width="24" height="24" />
            <span>Resume</span>
          </button>
        </a>
      </div>
    </div>
    <div class="flex flex-col gap-4">
      <h2 class="text-2xl font-bold tracking-wide">Latset blog posts</h2>
      <EmptyPosts />
    </div>
    <div class="flex flex-col gap-4">
      <div class="flex justify-between">
        <h2 class="text-2xl font-bold tracking-wide">Latset Projects</h2>
        <a href="/projects">
          <button
            class="border-slate-800 border-b py-0 transition-all duration-300 hover:border-slate-600 text-slate-400"
          >
            View all
          </button>
        </a>
      </div>
      <div class="grid md:grid-cols-2 grid-cols-1 gap-4">
        {latestProjects.map((project) => <Project project={project} />)}
      </div>
    </div>
    <ContactForm />
  </main>
</Layout>

<style>
  .gradient-name {
    background: #bfdbfe;
    background: linear-gradient(to right, #bfdbfe 25%, #f8fec1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
  }
</style>
