---
import { Icon } from 'astro-icon'
---

<div class="border dark:border-slate-800 border-slate-300 p-4 rounded-lg gap-3 flex flex-col">
  <p class="text-lg font-bold tracking-wider flex gap-2 items-center">
    <Icon name="ic:outline-mail" width="24" height="24" />
    <span>Let's talk!</span>
  </p>
  <p class="dark:text-slate-400 text-slate-600 text-sm">
    I'm currently looking for new opportunities, my inbox is always open. Whether you have a
    question or just want to say hi, I'll try my best to get back to you!
  </p>
  <form action="https://formspree.io/f/mrgwbwkg" method="POST" class="gap-3 flex flex-col">
    <input
      type="email"
      name="email"
      placeholder="Your email"
      class="text-sm border dark:border-slate-800 border-slate-300 rounded-lg px-4 py-2 focus:outline-none focus:ring-2 dark:focus:ring-slate-800 focus:ring-slate-300 focus:border-transparent bg-slate-200 dark:bg-slate-900"
      aria-label="Your email"
      aria-required="true"
      required="true"
    />
    <textarea
      name="message"
      placeholder="Your message"
      class="text-sm border dark:border-slate-800 border-slate-300 rounded-lg px-4 py-2 focus:outline-none focus:ring-2 dark:focus:ring-slate-800 focus:ring-slate-300 focus:border-transparent bg-slate-200 dark:bg-slate-900"
      rows="3"
      aria-label="Your message"
      aria-required="true"
      aria-multiline="true"
      required="true"></textarea>
    <button
      class="text-sm border dark:border-slate-800 border-slate-300 rounded-lg px-4 py-2 dark:hover:shadow-light hover:shadow-dark transition-all duration-300 dark:hover:border-slate-600 hover:border-slate-400 outline-none focus:ring-2 dark:focus:ring-slate-800 focus:ring-slate-300 focus:border-transparent"
      type="submit"
    >
      Send
    </button>
  </form>
</div>
