<header
  class="px-8 py-4 relative sm:sticky top-0 z-50 left-0 right-0 bg-[#02070c3f] mx-auto max-w-6xl backdrop-blur-sm"
>
  <nav class="flex sm:justify-between justify-center">
    <span class="text-2xl sm:flex hidden">AH <span id="repeated">_</span></span>
    <ul class="flex justify-center gap-8">
      <li class="flex justify-center items-center">
        <a href="/" rel="prefetch" class="hover:text-hovered text-xl">~</a>
      </li>
      <li class="flex justify-center items-center">
        <a href="/blog" rel="prefetch" class="hover:text-hovered">blog</a>
      </li>
      <li class="flex justify-center items-center">
        <a href="/projects" rel="prefetch" class="hover:text-hovered">projects</a>
      </li>
    </ul>
  </nav>
</header>

<script>
  const repeated = document.getElementById('repeated')
  const repeatedText = '_'

  if (repeated) {
    repeated.innerText = repeatedText
    const setInterval = window.setInterval(() => {
      if (repeated.innerText === repeatedText) {
        repeated.innerText = ''
      } else {
        repeated.innerText = repeatedText
      }
    }, 600)
  }
</script>
