---
import '@fontsource/poppins'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'

interface Props {
  title: string
}

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="min-h-full sm:px-8 selection:bg-accent-400 selection:text-blue text-gray-200">
    <div
      class="mx-auto min-h-screen max-w-6xl bg-bgContent border-x-[1px] border-slate-800 flex flex-col"
    >
      <Header />
      <main class="pt-12 relative">
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
<style is:global>
  body {
    background: linear-gradient(
      109.6deg,
      rgb(0, 0, 0) 11.2%,
      rgb(12, 28, 46) 51.2%,
      rgb(0, 0, 0) 98.6%
    );
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
      Bitstream Vera Sans Mono, Courier New, monospace;
  }
</style>
